* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body, html {
	height: 100%;
	background-color: #343541;
	color: #fff;
	font-family: ui-sans-serif,system-ui,-apple-system, sans-serif,Helvetica, Arial;
}

.container {
	display: flex;
	height: 100%;
}

.container aside {
	width: 13.5%;
	padding: 8px;
	background-color: #202123;
}

.container aside button {
	width: 100%;
	border: 0.7px solid rgb(73, 73, 73);
	border-radius: 0.375rem;
	background-color: transparent;
	color: #fff;
	height: 47px;
	cursor: pointer;
	text-align: start;
	padding: 14px;
	font-size: 0.8rem;
	letter-spacing: 0.4px;
	transition: 0.5s ease-in-out;
}

.container aside button:hover {
	background-color: rgba(128, 128, 128, 0.11);
}

.container aside button i {
	margin-right: 12px;
}

.container main {
	width: 86.5%;
	margin: 0 auto;
}

.container main .start-display {
	width: 45%;
	height: 89%;
	margin: 0 auto;
}

.container main .tips-menu {
	display: flex;
	width: 100%;
}

.container main .tips-menu i {
	font-size: 1.25rem;
	margin-bottom: 10px;
}

.container main .tips-menu h5 {
	font-weight: 400;
	font-size: 1.10rem;
	margin-bottom: 10px;
	letter-spacing: 0.4px;
}

.container main .tips-menu .box-tips-menu ul li {
	list-style: none;
	background-color: #3E3F4B;
	font-size: 0.89rem;
	margin: 13px 7.5px;
	padding: 10px 15px;
	border-radius: 0.375rem;
}

.container main .tips-menu .box-tips-menu ul #link::after {
	content: "→";
	margin-left: 5px;
}

.container main .tips-menu .box-tips-menu {
	width: 33.3%;
	text-align: center;
}

.container main .start-display h1 {
	font-weight: 600;
	font-size: 2.25rem;
	margin-bottom: 50px;
}

.container main .chat-display {
	height: 89%;
}

.container main .chat-display .question,
.container main .chat-display .reply {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding: 20px 0;
}

.container main .chat-display .question .question-content,
.container main .chat-display .reply .reply-content {
	width: 50%;
	margin: 0 auto;
}

.container main .chat-display .question {
	background-color: #343541;
	border-bottom: 0.4px solid rgba(32,33,35,.5);
}

.container main .chat-display .reply {
	background-color: #40414F;
}

.container main footer {
	width: 100%;
	height: 11%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.container main footer .footer-credits {
	font-size: 0.7rem;
	margin: 20px 0;
}

.container main footer .base-input {
	width: 45%;
	height: 50px;
	background-color: #40414F;
	border-radius: 0.375rem;
	box-shadow: 2px -2px 15px #0000003b;
	display: flex;
	align-items: center;
}

.container main footer input {
	background-color: transparent;
	width: 95%;
	height: 100%;
	padding-left: 15px;
	border: none;
	overflow: hidden;
	font-size: 1rem;
	color: #fff;
}

.container main footer .base-input input::placeholder,
.container main footer .base-input i {
	color: #8E8EA0;
}

.container main footer .base-input > div {
	width: 5%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}



/* set Display initial to chat Display */
.setStartDisplay {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.hiddenStartDisplay {
	display: none;
}
